:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #1e1e1e;
    --desc-color: #777;
    --primary-color: #8261ee;
    --secondary-color: #ff58e9;
    --font: "Raleway", sans-serif;

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-size: 1.6rem;
    font-family: var(--font);
    color: var(--text-color);
}
.arrow-right__icon{
    margin-left: 10px;
}
.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 2);
}
.bg-color{
    background-color: var(--bg-color, #0f1b4c);
}
.section-heading{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 42px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
}
.section-desc{
    font-weight: 0;
    font-size: 1.4rem;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
}
.button{
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #8261ee;
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 0.25px;
    -webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}
.button:hover{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--white-color);
}
.padding-top-70{
    padding-top: 70px;
}
.padding-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.separate{
    width: 100%;
    height: 1px;
    margin-top: 100px;
    border-bottom: 1px solid #eee;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
