:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    font-family: 'Poppins';
    font-size: 1.6rem;
}
.btn{
    display: inline-block;
    color: #fff;
    background-color: #0f1b4c;
    padding: 18px 22px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 98px;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}
.arow-right__icon{
    margin-left: 10px;
}
.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 2);
}
.bg-color{
    background-color: var(--bg-color, #0f1b4c);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}