/* PC breakpoint */
@media screen and (min-width: 992px) {
    .hide-on-pc{
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .hide-on-tablet-mobile{
        display: none;
    }
    .statistic__item.decoration-top::after{
        display: none;
    }
    .statistic__item.decoration-bottom::after{
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .hide-on-tablet{
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile{
        display: none;
    }
    .welcome__heading{
        margin-top: 144px;
    }
}
