nav.navbar {
    position: fixed;
}
.cid-snLOGe11q7 .navbar-dropdown {
    padding: 0 1rem;
    position: fixed;
}
.cid-snLOGe11q7 .navbar {
    padding: 0!important;
    /* min-height: 70px; */
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
}
.navbar-dropdown.navbar-fixed-top {
    position: fixed;
}
.navbar {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}
.navbar-dropdown {
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.45s ease;
    z-index: 1030;
    background: #282828;
}
.menu-tite {
    background: #103178;
    width: 100%;
    padding: 0.4rem 1rem;
    text-align: center;
    color: #ffc800;
}
.display-4 {
    font-family: 'Inria Serif', serif;
    font-size: 1.1rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5, .display-7, span, p, a {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}
.cid-snLOGe11q7 .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}
.menu .navbar-brand {
    display: -webkit-flex;
}
.menu .navbar-brand span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}
.navbar-dropdown .navbar-brand span {
    vertical-align: -4px;
}
.navbar-dropdown .navbar-logo {
    margin-right: 0.8rem;
    transition: margin 0.3s ease-in-out;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5, .display-7, span, p, a {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}